h1 {
  color: blue;
}

h2 {
  color: green;
}
.Puerto{
  margin-left: 250px;
  color: blue;
}

.Barcelona{
  margin-left: 100px;
  color: blue;
}

.Whistler{
  margin-left: 260px;
  color: blue;
}

body {
  background-color: #CAE4E8;
}
</body>
